<section id="about" class="fontRaleway">
    <h2 class="h2">how to order</h2>
    <div class="order-steps-ctn">
        <div class="order-step">
            <img class="" src="assets/img/2_section_how_to_order/PNG/noodle.png" alt="noodle">
            <p class="">Pick your noodle</p>
        </div>
        <div class="order-step">
            <img class="" src="assets/img/2_section_how_to_order/PNG/broth.png" alt="broth">
            <p class="">Pick your broth</p>
        </div>
        <div class="order-step">
            <img class="" src="assets/img/2_section_how_to_order/PNG/egg.png" alt="egg">
            <p class="">Add your toppings</p>
        </div>
    </div>
</section>
