@mixin borderStyling($bStyle) {
    border: 2px $bStyle white;
    border-radius: 10px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    color: white;
    width: 90%;
    max-width: 1440px;
    margin: 30px auto 0 auto;
    & img {
        width: 64px;
        height: 64px;
        @include borderStyling(solid);
    }
    div {
        display: flex;
        align-items: center;
        gap: 30px;
        & a {
            color: white;
            text-decoration: none;
            &:hover {
                text-shadow: 0 0 2px white;
            }
        }
        & .phone_btn {
            background-color: brown;
            padding: 10px;
            @include borderStyling(dotted);
            & img {
                width: 32px;
                height: 32px;
            }
        }
    }
}